autopep8
matplotlib
scikit-learn
skl2onnx
sphinx
sphinx-gallery
sphinxcontrib.imagesvg
sphinx_rtd_theme
pyquickhelper
tensorflow==2.5.0
tf2onnx
pandas
pydot
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
