pandas
sklearn
numpy==1.22.2
transformers==v4.4.2
tensorboard>=2.2.0,<2.5.0
h5py
wget
pytorch-lightning==1.6.0rc0
deepspeed==0.3.15
fairscale
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
